@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}
---va

.humberger {
  display: none;
}

li {
  list-style: none;
}

/* ----media query */
@media (max-width: 475px) {
  /* .navSect {
    display: block;
  }

  .humberger {
    display: block;
    width: 12%;
    cursor: pointer;
    float: left;
  }

  .close {
    display: block;
    width: 10%;
    float: right;
  }

  #navbrand {
    font-size: 1.2rem;
  }

  .header {
    height: 100vh;
    background-color: rgba(35, 79, 149, 0.82);
    color: white;
    padding: 12px;
  }

  #navItems  {
    padding-top: 15px;
  }

  #navItems,
  .navSect ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
 */
  .heroImg {
    width: 100%;
  }

  .hero {
    background-color: #5f9ed5;
  }
  .headerimg {
    width: 100%;
  }

  .hero-text {
    text-align: center;
    color: white;
    padding: 20px 40px;
  }

  .core-values {
    background-color: #234e95;
    color: white;
    padding: 30px 40px;
    width: 100%;
    padding: 20;
  }

  .core-values * {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .core-values img {
    width: 30%;
    padding-top: 20px;
  }
}
